{% extends "base.html" %}

{% block content %}

<!--
    The form was copied and modified from
    (https://getbootstrap.com/docs/5.3/forms/overview/)
-->
<div class="my-3 d-flex justify-content-evenly">
    <div class="card card-info-width">
        <form class="card-body" method="POST" action="{% url 'sign-in' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="emailAddress" class="form-label">Email address</label>
                <input type="email" class="form-control" id="emailAddress" name="emailaddress" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>    
</div>

{% endblock %}