{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="d-flex justify-content-evenly">
    
    <!--
        The image shown in the card is downloaded from Pexels. The link is below
        (https://www.pexels.com/photo/picturesque-view-of-lake-and-forest-in-mountains-3934023/)
    -->
    <div class="card card-info-width">
        <img src="{% static 'images/pexels-tatiana-syrikova-3934023.jpg' %}" class="card-img-top"
            alt="The Tremaine inn(https://www.pexels.com/photo/picturesque-view-of-lake-and-forest-in-mountains-3934023/)">
        <div class="card-body">
            <h5 class="card-title text-center">Tremaine Inn</h5>
            <p class="card-text">
                Tremaine Inn is a stop-over place for travelers and holiday makers.
            </p>
        </div>
    </div>    
</div>

{% endblock %}